/Ej1/nbproject/private/
/Ej1/build/
/Ej2/nbproject/private/
/Ej2/build/
/ej3/nbproject/private/
/ej3/build/
/Ej4/nbproject/private/
/Ej4/build/
/Ej5/nbproject/private/
/Ej6/nbproject/private/
/Ej6/build/
/Ej7/nbproject/private/